<header>
    <div class="header-left">
        <div class="logo">
            <img src="/images/Oreo-Logo.png" alt="Logo" />
            <p class="title" th:text="#{company}">Công ty cổ phần ABC</p>
        </div>
    </div>
    <div class="header-right">
        <ul class="header-list">
            <li class ="header-list-text" th:text="#{homepage.sub1}">Chúng tôi làm gì</li>
            <li class ="header-list-text" th:text="#{homepage.sub2}">Chúng tôi là ai</li>
            <li class ="header-list-text" th:text="#{homepage.sub3}">Liên hệ</li>
        </ul>
    </div>
    <div style="text-align: right; padding: 1em;">
        <select id="locales">
            <option value="" disabled selected>Select Language</option>
            <option value="en">English</option>
            <option value="vi">Vietnamese</option>
            <option value="jp">Japanese</option>
        </select>
    </div>

</header>
<script type="text/javascript">
    window.onload = function() {
        const savedLang = localStorage.getItem('language');

        if (savedLang) {
            setLanguage(savedLang, false);
        } else {
            setLanguage('vi', false);
        }

        document.getElementById('locales').addEventListener('change', function () {
            const selectedLang = this.value;
            if (selectedLang) {
                localStorage.setItem('language', selectedLang);
                setLanguage(selectedLang, true);
            }
        });
    };

    function setLanguage(lang, reload) {
        if (reload) {
            window.location.href = window.location.pathname + '?lang=' + lang;
        }
    }
</script>