<body th:fragment="nav">
    <nav class="admin-nav">
        <ul>
            <li><a th:href="@{/admin/adminHome}" th:text="#{header.adminHome}">Trang chủ</a></li>
            <li><a th:href="@{/admin/employees/employee-management}" th:text="#{header.employee-management}">Quản lý nhân viên</a></li>
            <li><a th:href="@{/admin/departments/department-management}" th:text="#{header.department-management}">Quản lý phòng ban</a></li>
            <li><a th:href="@{/admin/accounts/account-management}" th:text="#{header.account-management}">Quản lý tài khoản</a></li>
            <li class="dropdown">
                <span th:text="#{header.achievement-management}">Quản lý thành tích</span>
                <div class="sub-menu">
                    <a th:href="@{/admin/achievements/create-achievement}" th:text="#{header.add-achievement}">Tạo mới thành tích</a>
                    <a th:href="@{/admin/achievements/view-people-achievements}" th:text="#{header.view-employee-achievement}">Xem tổng hợp thành tích cá nhân</a>
                    <a th:href="@{/admin/achievements/view-departments-achievements}" th:text="#{header.view-department-achievement}">Xem tổng hợp thành tích của phòng</a>
                </div>
            </li>
            <li><a th:text="#{header.logout}" id="logout-btn">Đăng xuất</a></li>
        </ul>
    </nav>
    <div style="text-align: right; padding: 1em;">
        <select id="locales">
            <option value="" disabled selected>Select Language</option>
            <option value="en">English</option>
            <option value="vi">Vietnamese</option>
            <option value="jp">Japanese</option>
        </select>
    </div>
    <script type="text/javascript">
        window.onload = function() {
            const languageDropdown = document.getElementById('locales');
            const savedLang = localStorage.getItem('language');

            if (savedLang) {
                setLanguage(savedLang, false);
            } else {
                setLanguage('vi', false);
            }

            languageDropdown.addEventListener('change', (event) => {
                const selectedLang = event.target.value;

                if (selectedLang) {
                    localStorage.setItem('language', selectedLang);
                    setLanguage(selectedLang, true);
                }
            });
        };

        function setLanguage(lang, reload) {
            if (reload) {
                window.location.href = window.location.pathname + '?lang=' + lang;
            }
        }

        document.getElementById('logout-btn').addEventListener('click', function(event) {
            event.preventDefault();

            localStorage.removeItem('language');

            window.location.href = '/admin/logout';
        });
    </script>
</body>
